<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
        <title>Christian Girls - {{ title }}</title>
    {% else %}
        <title>Christian Girls</title> 
    {% endif %}
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>
    <div class="container">
      <header>
        <div class="site-title">
          <a href="{{ url_for('main.home') }}"><h1>Confessions</h1></a>
        </div>
        <div class="gif-container">
          <img id="gif" src="" alt="Loading...">
        </div>
      </header>
    
      <hr>
      {% if current_user.is_authenticated %}
        <div class="nav-container">
            <a class="logged left" href="{{ url_for('users.author') }}">Author</a>
            <a class="logged centre" href="{{ url_for('posts.create') }}">Journal</a>
            <a class="logged right" href="{{ url_for('users.leave') }}">Leave</a>
        </div>
      {% endif %}

      
      <main>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="alert-container">
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block content %} {% endblock %}
      {% block scripts %} {% endblock %}
      <footer class="site-footer">
        {% block footer %}{% endblock %}
      </footer>

      </main>
    </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
